@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #181818;
  max-height: 100vh;
}

:focus{
  outline: none;
}

.slick-prev.slick-arrow:before, .slick-next.slick-arrow:before{
  color: black !important;
}

h1{
  font-weight: 900;
  font-size: 36px;
  color: black;
}

h2{
  font-weight: 900;
  font-size: 25px;
  color: black;
}