  .main{
    margin: 18px 0 0 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 26px);
    max-height: calc(100vh - 26px);
    width: 100%;
  }
  
  .content{
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: row;
    height: calc(100% - 52px);
    max-height: calc(100% - 52px);
  }
  
  .footer{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 52px;
    gap: 10px;
    max-height: 52px;
    width: 100%;
    margin-top: 10px;
  }
  
  .barraLateral{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d923;
    height: 100%;
    width: 58px;
    margin: 0 15px 0 0;
    border-radius: 25px;
    justify-content: space-between;
  }
  
  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    
    border-radius: 25px;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  
  .textFooter{
    color: gray;
    font-size: 10px;
    font-weight: 500;
  }
  
  .info{
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .options{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  
  .option:hover{
    background-color: #d9d9d941;
    border-radius: 8px;
    cursor: pointer;
  }

  .divLogo{
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .logo{
    width: 41px;
    height: 41px;
  }