
  .all {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
  }
  .global{
    display: flex;
    width: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .carousel{
    cursor: grab;
    overflow: hidden;
  }

  .img{
    border-radius: 12px;
    pointer-events: none;
  }

  .item{
    min-height: 100px;
    min-width: 330px;
    padding: 0px;
  }

  .inner{
    display: flex;
  }

  .perfis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin: 20px 0;
  }
  
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 185px;
    height: 260px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(100, 84, 84, 0.66);
  }
  
  .detail {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 185px;
    height: 195px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.986);
  }
  
  .profileImg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 5px; /* Adjust the position of the image to overlap with the profile card */
    margin-left: 8px;
  }
  .detail:hover{
    box-shadow: 0px 3px 3px 0px #00000040;
  }
  
  .perfil:hover{
    box-shadow: 0px 6px 6px 0px #00000040;
  }
  
  .perfil:focus{
    box-shadow: 0px 6px 6px 0px #00000040;
  }

  .perfil p {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .all {
      padding: 0 20px; /* Adiciona espaçamento lateral */
    }
  
    .perfis {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .perfil {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 1024px) {
    .perfis {
      gap: 20px;
    }
    
  }

  @media (max-height: 800px) {
    .perfil {
      zoom: 90%;
    }
  }
  