  .all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 95%;
    height: 95%;
    width: 80%;
  }
  .ReportFrequency{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
  }
  .ReportBalon{
    color: #FFF;
    display: flex;
    background: #0085FF;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    
  }
  .ReportBalon:hover{
    padding: 2px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: linear 0.1s;
  }
  .ReportQuestions{
    width: 100%;
    height: 260px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
  }
  .ReportProblem{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  }
  .ReportTextProblem{
      resize: none;
      padding: 10px;
      border: none;
      background: rgba(0, 0, 0, 0.08);
      mix-blend-mode: normal;
      border-radius: 15px;

  }

  .ReportTextProblem:focus{
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .ReportTextProblem:hover{
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .ReportButton{
      background: #0085FF;
      color: #FFF;
      border-radius: 6px;
      width: 30%;
      height: 40px;
      margin-top: 12px;
      border: none;
  }

  .ReportButton:hover{
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .Problems{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    margin-left: 9%;
  }
  .icon{
    width: 24px;
    height: 24px;
  }