  .main{
    margin: 38px 0 0 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 68px);
    width: 100%;
  }
  
  .content{
    margin: 0 47px 0 4px;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .footer{
    height: 20px;
    width: 100%;
  }
  
  .barraLateral{
    background-color: blueviolet;
    height: 100%;
    width: 78px;
    margin-right: 14px;
  }
  
  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    
    border-radius: 25px;
    background-color: white;
    height: 100%;
    width: 100%;
  }
  
  .ReportPesquisa{
    text-align: center;
    margin-top: 50px;
    width: 100%;

  }
  .ReportBusca{
    width: 80%;
    height: 33px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  .ReportFrequency{
    
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    padding-left: 50px;

     
  }
  .ReportBalon{
    display: flex;
    background: #0085FF;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    
  }
  .ReportQuestions{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
.ReportProblem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.ReportTextProblem{
    resize: none;
    background: rgba(240, 235, 235, 0.3);
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 20px rgba(176, 173, 173, 0.5);
    border-radius: 15px;

}
.ReportButton{
    background: #0085FF;
    border-radius: 15px;
    width: 25%;
    height: 25px;
    margin-top: 7px;
}